/*Страничка с видосами*/



.video-post {
    background-color: rgba(0,140,114,0.05);
    position: relative;
    height: 300px;
    width: 100%;
    margin-bottom: 40px;
}


.video-post .title {
    box-sizing: border-box;
    padding: 10px 0 10px 20px;
    background-color: #006aa8;
    color: white;
    height: 35px;
    margin-bottom: 10px;
}

.video-post .title .upload-date {
    font-weight: 100;
    opacity: 0.5;
    color: white;
    margin-right: 15px;
    float: right;
}

.video-post .preview {
    width: 250px;
    height: 210px;
    float: left;
    margin: 0 15px 30px 15px;
    background-color: rgba(0,140,114,0.05);
}

.video-post .preview .author {
    font-weight: 300;
    text-align: center;
    color: #6a7074;
    margin-top: 5px;
}

.video-post .preview a {
    display: block;
}

.video-post .preview img {
    height: 100%;
}

.video-post .about-post .themes {
    margin-bottom: 10px;
}

.video-post  .bold {
    font-weight: bold;
}

.video-post .about-post .discription {
    overflow: hidden;
    text-overflow: clip;
    white-space: wrap;
    max-height: 9em;
}

.video-post  .view-button {
    position: absolute;
    bottom: 15px;
    right: 20px;
    display: block;
    width: 150px;
    background-color: #006aa8;
    text-decoration: none;
    color: white;
    text-align: center;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    transition-duration: .3s;
    transition-property: background-color;
}

.video-post  .view-button:hover {
    background-color: #0078be;
}

.page-switch {
    margin: 0 auto;
    width: 230px;
}

.page-switch a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 5px;
    background-color: #006aa8;
    min-width: 20px;
    min-height: 20px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
}

.main .page-video{
    padding: 9px 15px;
    margin-bottom: 20px;    
    background-color: #008c72;
    color: white;   
}

.main .page-video:after{
    content: "";
    display: table;
    clear: both; 
}

.filter {
    float: right;
    margin-right: 40px;
    position: relative;
    margin-top: -4px;
    margin-bottom: -5px;
}

.filter .filter-btn{
    float: left;
    height: 25px;
    line-height: 25px;
    vertical-align: middle;
    border-radius: 3px;  
    padding: 0 20px; 
    font-size: 12px;
    background-color: #00a284;
}

.filter .filter-btn:hover{
    background-color: #046754 ;
}

.filter .filter-btn .arrow-filter{
    position: relative;
    display: inline-block;
    height: 0;
    width: 0;
    border: 5px solid white;
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom: none;
    margin-left: 5px;
    top: -1px;
}

.filter .filter-list-item{
    display: none;
    position: absolute;
    list-style: none;
    position: absolute;
    top: 25px;
    background-color: #00a284;
    border-radius: 3px;
    z-index: 2;
    border-top: 1px solid #055848;
}

.filter .filter-list-item > li > span a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 8px 15px;
}

.filter .filter-list-item > li{
    border-top: 1px solid #055848;
    font-size: 12px;
    white-space: nowrap;
}

.filter .filter-list-item > li:first-child{
    border-top: none;
}

.filter .filter-list-item > li:hover{
    background-color: #046754 ;
}

/*конец странички с видосами*/
